body {
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
}

.profile, img {
  height: 250px;
  margin-top: 8em;
  border-radius: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.mdl-layout__content {
  justify-content: center !important;
  display: flex;
  z-index: -1 !important;
  text-align: center;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 55%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1{
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white !important;
  width: 50% !important;
  margin: auto !important;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.banner-text {
  text-align: center;
}

.social {
  color: white !important;
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin: auto;
}

.social i {
  color: white;
  font-size: 5em;
  margin-bottom: 10px;
  z-index: 3 !important;
}

.tabs {
  z-index: 1;
}