body {
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.profile {
  height: 250px;
  margin-top: 5em;
  border-radius: 45%;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

hr {
  border-top: 5px dotted white !important;
  width: 50% !important;
  margin: auto !important;
}